<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSVideoEditor.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FSVideoEditorSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>567E0B4D1EF930D100C4C527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567E0B7E1EF939CC00C4C527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9814AAD01F15D08F00ECC93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9814AAD81F15D08F00ECC93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9814ABDD1F161FE000ECC93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9814ABE51F161FE000ECC93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9833BBB81F384E9400F0D308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9833BBC01F384E9400F0D308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986186661F30635700CFFD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9861866E1F30635800CFFD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9861874D1F3094ED00CFFD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986187551F3094ED00CFFD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986312F61F348FD000D85E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986312FE1F348FD000D85E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9880DEC11F175712006E730F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9880DEC91F175712006E730F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D3C8B61F1F3C8400D2C36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D3C8BE1F1F3C8400D2C36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D3C8D81F1F3CFD00D2C36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D3C8E01F1F3CFD00D2C36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D669561F18F4B700DFB572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D6695E1F18F4B700DFB572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F165EE1F19F8B20084D70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F165F61F19F8B20084D70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F166A71F1A088E0084D70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
