<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSVideoEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FSVideoEditorSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>567E0B4D1EF930D100C4C527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985E86A91F5446AA00292FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985E86B11F5446AA00292FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D9F45F1F4D874200ED841F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D9F4671F4D874300ED841F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
